<div class="container" id="container-tabs">
  <div class="thread">
    <div class="b-box b-box--dots">
      <span class="b-box--dots__item is-active"></span>
      <span class="b-box--dots__item is-active"></span>
      <span class="b-box--dots__item is-active"></span>
      <span class="b-box--dots__item"></span>
      <span class="b-box--dots__item big">
        <span data-amount=<%= @bundle.amount.to_i %> id="amount">
          <%= humanized_money(@bundle.amount) %>
        </span>
        €
      </span>
    </div>
    <div class="list-items">
      <div class="item-last"><%= link_to "Recherche", new_bundle_path %></div>
      <div class="item"><%= link_to "Lieu", location_bundle_path(@bundle) %></div>
      <div class="item"><%= link_to "Services", services_bundle_path(@bundle) %></div>
      <div class="item"></div>
    </div>
  </div>
  <div class="tab-container">
    <div class="tabs">
      <% @services_selected.each_with_index do |service, index| %>
        <a class="tab <%= 'active' if index == 0 %>" data-target="<%= service %>">
          <%= image_tag "#{service}.png", class:'extra-small-picture' %><h3><%= service.capitalize %></h3>
        </a>
      <% end %>
    </div>

    <% @services_selected.each_with_index do |service, index| %>
      <div class="tab-content <%= 'hidden' if index != 0 %>" id="<%= service %>">
        <div class="row ">
          <% @services_supplier.select { |supplier| supplier.service.category == service }.each_with_index do |supplier, index| %>
            <% carroussel_id = "carousel-supplier-#{supplier.id}" %>
            <div class="col-xs-4">
              <div class="card-supplier">
                <div class="card-supplier-image" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),
                   url('<%= cl_image_path supplier.images.first.photo, crop: :fill %>')" %>
                  <div id="<%=  supplier.id %>" class="card-supplier-image" onclick="addSupplier()">
                    <div class="supplier-lock" data-service="<%= service %>" data-supplier-id="<%= supplier.id %>">
                      <i class="fas fa-lock-open"></i>
                    </div>
                  </div>
                </div>
                <div class="card-supplier-footer">
                  <h3><%= supplier.service_name %></h3>
                  <p class="card-rating">
                    <% if supplier.avg_rating >= 4.5 && supplier.avg_rating <= 4.75 %>
                      <% supplier.avg_rating.to_i.times do %>
                        <i class="fas fa-star"></i>
                      <% end %>
                      <i class="fas fa-star-half"></i>
                    <% else %>
                      <% supplier.avg_rating.ceil.times do %>
                          <i class="fas fa-star"></i>
                        <% end %>
                    <% end %>
                  </p>
                  <% if service == "traiteur" %>
                    <p class="card-price" ><%= humanized_money(supplier.price * session[:bundle]["capacity"].to_i) %><i class="fas fa-euro-sign"></i></p>
                  <% else %>
                    <p class="card-price" ><%= humanized_money(supplier.price) %><i class="fas fa-euro-sign"></i></p>
                  <% end %>
                  <!-- data-toggle/data-target are there for modals -->
                  <%= link_to "+ Détails", "#", class: "card-details", data: { toggle: "modal", target: "#modal-supplier#{supplier.id}"} %>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="modal-supplier<%= supplier.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><%= supplier.service_name %></h4>
                      </div>
                      <div class="modal-body">
                        <!-- Image Slider -->
                        <div id="<%= carroussel_id %>" class="carousel slide" data-ride="carousel" data-interval="false">
                          <!-- Indicators -->
                          <ol class="carousel-indicators">
                            <% supplier.images.each_with_index do |_image, index| %>
                              <li data-target="#<%= carroussel_id %>" data-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>"></li>
                            <% end %>
                          </ol>

                          <!-- Wrapper for slides -->
                          <div class="carousel-inner" role="listbox">
                            <% supplier.images.each_with_index do |image, index| %>
                              <div class="carousel-image item<%= ' active' if index == 0 %>" style='background-image: url(<%= cl_image_path image.photo%>)'>
                                <%#= cl_image_tag image.photo, width: 900, height: 500 %>
                              </div>
                            <% end %>
                          </div>

                          <!-- Controls -->

                          <% supplier.images.each_with_index do |image, index| %>
                            <a class="left carousel-control" href="#<%= carroussel_id %>" role="button" data-slide="prev">
                              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#<%= carroussel_id %>" role="button" data-slide="next">
                              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          <% end %>
                        </div>
                        <div class="service-description">
                          <p><i class="fas fa-quote-left"></i> <%= supplier.description %> <i class="fas fa-quote-right"></i></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="button-form-services">
    <%= form_tag bundle_bundle_lines_path(@bundle), method: :post, class: "form-inline text-center" do %>
      <%= hidden_field_tag :supplier_ids %>
      <%= button_tag class:'btn-validate', id: 'lock', type: "submit" do %>
        <span>Réserver</span>
      <% end %>
    <% end %>
  </div>
</div>

<script>
  function addSupplier() {
    const supplierIds = document.getElementById("supplier_ids");
    if (supplierIds.value.includes(event.currentTarget.id)) {
      supplierIds.value = supplierIds.value.replace( event.currentTarget.id, "")
    } else {
      // check if a service of the same type is checked
        // if yes unlock and remove the id from input
      supplierIds.value = supplierIds.value + " "+ event.currentTarget.id;
    };
  }
</script>

<script>
  const tabContent = document.querySelectorAll(".tab-content");

</script>
