<div class="container">
  <h1>Add a new supplier</h1>


  <%= simple_form_for([@supplier]) do |f| %>
    <%= f.input :owner %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :avg_rating %>
    <%= f.input :originality %>
    <%= f.input :email %>
    <%= f.input :capacity %>
    <%= f.input :address %>
    <%= f.input :service_name %>
    <%= f.association :service, collection: Service.order(:category), label_method: :category, prompt: "Choose a service" %>
    <%= f.association :areas, collection: Area.order(:region), as: :check_boxes, label_method: :working_area, prompt: "Choose an area" %>
    <%= f.simple_fields_for :images do |p| %>
      <%= p.input :photo, as: :file %>
      <%= p.input :photo_cache, as: :hidden %>
    <% end %>
    <%= f.simple_fields_for :availabilities do |p| %>
      <%= p.input :starts_on %>
      <%= p.input :ends_on %>
    <% end %>




    <br>
    <%= f.submit class:'btn-validate' %>
  <% end %>
</div>


